/* ---------------- clear -------------------------- */

br.clear-both {
   clear: both;
}

/* --------------- button -------------------------- */

button {
    padding: 2px;
    border: 2px solid #006;
    color: #FFFFFF;

    background: #12057A;
    background: linear-gradient( top, #6870FE, #12057A);
    background: -webkit-linear-gradient( top, #6870FE, #12057A);
    background: -moz-linear-gradient( top, #6870FE, #12057A);
    background: -ms-linear-gradient( top, #6870FE, #12057A);


    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

button:hover {
    padding: 2px;
    border: 2px solid #006;
    color: #FFFFFF;

    background: #00667A;
    background: linear-gradient( top, #05A3C2, #00667A);
    background: -webkit-linear-gradient( top, #05A3C2, #00667A);
    background: -moz-linear-gradient( top, #05A3C2, #00667A);
    background: -ms-linear-gradient( top, #05A3C2, #00667A);


    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;

/*
    -moz-box-shadow: 5px 5px 8px #ADADAD;
    -webkit-box-shadow: 5px 5px 8px #ADADAD;
    box-shadow: 5px 5px 8px #ADADAD;
*/
}

/* ----------------- select -------------------------- */

select {
    padding: 2px;
    border: 2px solid #006;
    color: #FFFFFF;

    background: #6870FE;
    background-color: #6870FE;
    background: linear-gradient( top, #6870FE, #12057A);
    background: -webkit-linear-gradient( top, #6870FE, #12057A);
    background: -moz-linear-gradient( top, #6870FE, #12057A);
    background: -ms-linear-gradient( top, #6870FE, #12057A);


    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

option  {
    color: #FFFFFF;

    background-color: #000000;
    background: linear-gradient( top, #202020, #000000);
    background: -webkit-linear-gradient( top, #202020, #000000);
    background: -moz-linear-gradient( top, #202020, #000000);
    background: -ms-linear-gradient( top, #202020, #000000);
}


select.userroles {background: darkblue; color: white;}
option.userroles {background: darkblue}

/* --------------- label -------------------------- */

/*

label.fix-size {
    display: block;
    width: 30%;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
}
*/

/* ---------  input --------------------------------*/

input { border: 1px solid #006; }

input.full-size {
    border: 1px solid #006;
    width: 100%;
}

/* -------- LOGO + Header -------------------------- */


div#header-logo a {
    text-decoration:none;
}

div#logo-black {
    color: #FFFFFF;
    text-align: center;

    border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius : 15px;

    border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;


    background: #000000;
    background: linear-gradient( top, #202020, #000000  );
    background: -webkit-linear-gradient( top, #202020, #000000  );
    background: -moz-linear-gradient( top, #202020, #000000  );
    background: -ms-linear-gradient( top, #202020, #000000  );

    width: 300px ;
    margin-left: auto ;
    margin-right: auto ;
    margin-bottom: 2px;

}

div#logo-blue {
    color: #FFFFFF;
    text-align: center;

    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;

    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;

    background: #12057A;
    background: linear-gradient( top, #1907A5, #12057A);
    background: -webkit-linear-gradient( top, #1907A5, #12057A);
    background: -moz-linear-gradient( top, #1907A5, #12057A);
    background: -ms-linear-gradient( top, #1907A5, #12057A);

    width: 300px ;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 2px;
}

div#header-logo h3 {
    padding: 0px;
    margin: 0px;
}


/* -------- simple box -------------------------- */

div.simple-box{
    text-align: left;
    border-style: solid;
    border-color: #C3C3C3;
    padding: 0px;
    margin: 0px;

    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;

    break-inside: avoid-column;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
}

/* -------- Main box (with 2 columns) -------------------------- */
/* no efacts for small screens                                    */

div.columnbox{
    text-align: left;
    border-style: solid;
    border-color: #C3C3C3;

    padding: 2px;
    margin: 0px;

    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

/* -------- Main box (with 3 columns) -------------------------- */

div.columnbox-triple{
    text-align: left;
    border-style: solid;
    border-color: #C3C3C3;

    padding: 2px;
    margin: 0px;

    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;


}


/* -------- center box -------------------------- */

div.centerbox{
    text-align: center;
    border-style: solid;
    border-color: #C3C3C3;
    width: 90% ;
    padding: 20px;
    margin: auto;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;

    box-shadow: 5px 5px 8px #B3B3B3;
    -moz-box-shadow: 5px 5px 8px #B3B3B3;
    -webkit-box-shadow: 5px 5px 8px #B3B3B3;
}

/* -------- flush left box -------------------------- */

div.flush-left-box{
    text-align: left;
    border-style: solid;
    border-color: #C3C3C3;
    width: 70% ;
    padding: 20px;
    margin: auto;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;

    box-shadow: 5px 5px 8px #B3B3B3;
    -moz-box-shadow: 5px 5px 8px #B3B3B3;
    -webkit-box-shadow: 5px 5px 8px #B3B3B3;
}



/* -------- small box (for dialogs) -------------------------- */
div.smallgroupbox{
    text-align: center;
    border-style: solid;
    border-color: #C3C3C3;
    width: 30% ;
    padding: 20px;
    margin: auto;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;

    box-shadow: 5px 5px 8px #B3B3B3;
    -moz-box-shadow: 5px 5px 8px #B3B3B3;
    -webkit-box-shadow: 5px 5px 8px #B3B3B3;
}


/* -------- feedback box -------------------------- */

div.feedback-box{
    background-color: #FFF34B;
    text-align: center;
    border-style: solid;
    border-color: #C3C3C3;
    width: 85% ;
    padding: 20px;
    margin: 5px auto 5px auto;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

/* --------------- login link --------------------- */

div.login-link {
    width: 70% ;
    padding: 20px;
    margin: auto;
    text-align: right;
    padding: 0px;
    margin: 5px;
}

div.login-link ul {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* --------------- main menue -------------------- */
div.mainmenue{
    text-align: center;
    padding: 0px;
    margin: 5px;
}

div.mainmenue ul {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* -------- left -----------------*/


div.mainmenue li.tableft {
    display: inline-block;
    padding: 0 0 0 0 ;
    margin:  0px  ;
    background:black;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background: linear-gradient( top, #A0A0A0, #373737);
    background: -webkit-linear-gradient( top, #A0A0A0, #373737);
    background: -moz-linear-gradient( top, #A0A0A0, #373737);
    background: -ms-linear-gradient( top, #A0A0A0, #373737);
}

div.mainmenue li.tableft_activ {
    display: inline-block;
    margin: 0px ;
    background: #979797;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;

/*  #c1c1c1 */
    background: linear-gradient( top, #fff, #979797);
    background: -webkit-linear-gradient( top, #fff, #979797);
    background: -moz-linear-gradient( top, #fff, #979797);
    background: -ms-linear-gradient( top, #fff, #979797);
}

/* ---------  middle -----------------*/

div.mainmenue li.tabmiddle {
    display: inline-block;
    padding: 0 0 0 0 ;
    background:#373737;
    background: linear-gradient( top, #A0A0A0, #373737);
    background: -webkit-linear-gradient( top, #A0A0A0, #373737);
    background: -moz-linear-gradient( top, #A0A0A0, #373737);
    background: -ms-linear-gradient( top, #A0A0A0, #373737);
}

div.mainmenue li.tabmiddle_activ {
    display: inline-block;
    background: #979797;
    background: linear-gradient( top, #fff, #979797);
    background: -webkit-linear-gradient( top, #fff, #979797);
    background: -moz-linear-gradient( top, #fff, #979797);
    background: -ms-linear-gradient( top, #fff, #979797);
}
/* ---------------- right ---------------- */

div.mainmenue li.tabright {
    display: inline-block;
    padding: 0 0 0 0 ;
    background:#373737;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;

    background: linear-gradient( top, #A0A0A0, #373737);
    background: -webkit-linear-gradient( top, #A0A0A0, #373737);
    background: -moz-linear-gradient( top, #A0A0A0, #373737);
    background: -ms-linear-gradient( top, #A0A0A0, #373737);
}

div.mainmenue li.tabright_activ {
    display: inline-block;
    padding-left: 0px;
    background: #979797;
    margin: 0px ;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    background: linear-gradient( top, #fff, #979797);
    background: -webkit-linear-gradient( top, #fff, #979797);
    background: -moz-linear-gradient( top, #fff, #979797);
    background: -ms-linear-gradient( top, #fff, #979797);
}

div.mainmenue li a {
    display: block;
    color:#fff;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    margin: 5px;
}

div.mainmenue li a span {
    display: block;
    margin: 0;
    padding: 0px;
}

/* ----- Form delete button ------------------------------------------------ */

input#delet_button {
    color: #FFFFFF;
    background: #FF0000;

    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

/* ----- Form save button ------------------------------------------------- */

input#save_button {
    color: #FFFFFF;
    background: #008000;

    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

/* ----- Form keyword button ---------------------------------------------- */

input.keyword_button {
    width: 100% ;
    text-align: left;
}

/* ----- Button with a full width of column-------------------------------- */


button.full_width_button {
    width: 100% ;
    text-align: left;
}

/* -------- Form input ---------------------------------------------------- */

input.full-width {
    width: 100% ;
}


input.half-width {
    width: 50% ;
    padding: 20px;
    margin: auto;
}

/* -------- Form textarea ---------------------------------------------------- */

textarea.full-width {
    width: 100% ;
}

/* -------- Tables   ------------------------------------------------------- */

th {
    text-align: left;
    background-color: #CC063B;
    background: linear-gradient( left, #FF383B, #FFFFFF);
    background: -webkit-linear-gradient( left, #FF383B, #FFFFFF);
    background: -moz-linear-gradient( left, #FF383B, #FFFFFF);
    background: -ms-linear-gradient( left, #FF383B, #FFFFFF);

    padding: 5px 10px 5px 10px ;
/*    margin: auto;*/
}

td {
    text-align: left;
    background-color: #CC063B;
    background: linear-gradient( left, #A0A0A0, #FFFFFF);
    background: -webkit-linear-gradient( left, #A0A0A0, #FFFFFF);
    background: -moz-linear-gradient( left, #A0A0A0, #FFFFFF);
    background: -ms-linear-gradient( left, #A0A0A0, #FFFFFF);
    padding: 5px 10px 5px 10px ;
}

p#foot {
    color: lightslategray;
    text-align: center;

}

form {
    display: inline;
}
