/INSTALL
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache/
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/*.m4
/missing
/src/config.h.in
/src/config.h
/config.log
/config.status
.deps
/libtool
stamp-h1
*.l[ao]
*.o
.libs
*.deps
.dirstamp
*~
*.swp
src/views/access_denied.cpp
src/views/EditAccountView.cpp
src/views/edit_editions.cpp
src/views/EditOwnVersesView.cpp
src/views/editquote.cpp
src/views/export_own_verses.cpp
src/views/home.cpp
src/views/import_own_verses.cpp
src/views/keyword_detail.cpp
src/views/keyword_register.cpp
src/views/login.cpp
src/views/logout.cpp
src/views/mainmenu.cpp
src/views/newaccount.cpp
src/views/newquote.cpp
src/views/portalaccount.cpp
src/views/portaladmin.cpp
src/views/portalquote.cpp
src/views/reset_own_password.cpp
src/resources/style.cpp
src/resources/favicon.cpp
src/peruschim_cpp
