/INSTALL
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache/
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/*.m4
/missing
/config.log
/config.status
.deps
/libtool
stamp-h1
*.l[ao]
*.o
.libs
*.deps
.dirstamp
*~
*.swp
build/
src/Core/resources/style.cpp
src/Core/resources/favicon.cpp
src/peruschim_cpp
src/Core/resources.cpp
src/Core/config.h
src/Core/config.h.in

src/Core/views/EditAccountView.cpp
src/Core/views/EditOwnVersesView.cpp
src/Core/views/access_denied.cpp
src/Core/views/home.cpp
src/Core/views/logout.cpp
src/Core/views/mainmenu.cpp
src/Core/views/portalaccount.cpp
src/Core/views/portaladmin.cpp
src/Core/views/portalquote.cpp
src/Core/views/AccountRegisterView.cpp
src/Core/views/EditEditionsView.cpp
src/Core/views/EditQuoteView.cpp
src/Core/views/ExportOwnVersesView.cpp
src/Core/views/ImportOwnVersesView.cpp
src/Core/views/KeywordDetailView.cpp
src/Core/views/KeywordRegisterView.cpp
src/Core/views/LogInView.cpp
src/Core/views/NewAccountView.cpp
src/Core/views/NewQuoteView.cpp
src/Core/views/RSSfeedView.cpp
src/Core/views/ResetOwnPasswordView.cpp
src/Core/views/SwitchToHandheldVersionView.cpp
src/Core/views/TrustAUserView.cpp
src/Core/views/parts/style.cpp

src/config.h
src/config.h.in
src/resources.cpp
utest/utest

