

    <div class="login-link">
% if ( userSession.isHandheldVersion() ) {
        <a href="SwitchToHandheldVersion">Normale Ansicht</a>
% } else {
        <a href="SwitchToHandheldVersion">Mobilen Version</a>
% }
        <br>
% if (  userSession.isInRole ( "user" ) == true) {
        <$ userSession.getUserName( ) $>(ID:<$ userSession.getUserID( ) $>) <a href="logout">Abmelden</a>
% } else {
        <a href="LogIn">Anmelden</a>
% }
        <br>
        <a href="rss.xml"><img src="feed-icon.png"  width="22" height="22" alt="rss-feed-icon" /></a>
    </div>

