
<%pre>
    #include <Core/models/Config.h>
    #include <RouteReverse/manager/Manager.h>
</%pre>

    <div class="login-link">
% if ( userSession.isHandheldVersion() ) {

        <a href="<$ RouteReverse::Manager::getLinkTo("SwitchToHandheldVersion", request) $>">
            Normale Ansicht
        </a>
% } else {
        <a href="<$ RouteReverse::Manager::getLinkTo("SwitchToHandheldVersion", request) $>">
            Mobilen Version
        </a>
% }
        <br>
% if (  userSession.isInRole ( "user" ) == true) {
        <$ userSession.getUserName( ) $>(ID:<$ userSession.getUserID( ) $>)
        <a href="<$ RouteReverse::Manager::getLinkTo("logout", request) $>">Abmelden</a>
% } else {
        <a href="<$ RouteReverse::Manager::getLinkTo("LogIn", request) $>">Anmelden</a>
% }
        <br>
        <a href="<$ RouteReverse::Manager::getLinkTo("RSSfeedView", request) $>">
            <img
                src="<$ RouteReverse::Manager::getLinkTo("Core/feed-icon.png", request) $>"
                width="22"
                height="22"
                alt="rss-feed-icon" />
        </a>
    </div>

